<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'/private/dashboard'">
            <img src="logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item" *ngFor="let menu of menuList">
                    <a class="nav-link active" aria-current="page" [routerLink]="menu?.path">{{menu?.title}}</a>
                </li>
                <li class="nav-item dropdown" *ngIf="currentUser?._id">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="avatar-1.jpg" alt="Header Avatar">
                        <span class="text-start ms-xl-2">
                            {{currentUser?.firstName}} {{currentUser?.lastName}}
                        </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" [routerLink]="'/private/profile'">Profile</a></li>
                        <li><a class="dropdown-item" [routerLink]="'/private/change-password'">Change Password</a></li>
                        <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>