.navbar {
    margin: 0 auto;
    height: 70px;
    background-color: #fff;

    .navbar-brand {
        img {
            width: 100px;
            height: 50px;
        }
    }

    .navbar-nav {
        margin-left: auto !important;

        .nav-item {
            margin: 0 15px;

            .nav-link {
                font-weight: 600;
                color: #0b4da2;
            }
        }

        .dropdown {
            background-color: #f3f3f9;
            height: 50px;

            .header-profile-user {
                height: 32px;
                width: 32px
            }

            .dropdown-item {
                font-weight: 600;
                color: #0b4da2
            }

            .dropdown-menu {
                position: relative;
                right: 0;
                top: 10px;
            }
        }
    }

}